@import "tailwindcss";

/* Simple Banner Slideshow */
.banner-container {
  height: 560px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #4a5568;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-image.show {
  opacity: 1;
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}